@model MedLedger.Models.Professional

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Professional</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfessionalName" class="control-label"></label>
                <input asp-for="ProfessionalName" class="form-control" />
                <span asp-validation-for="ProfessionalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalEmail" class="control-label"></label>
                <input asp-for="ProfessionalEmail" class="form-control" />
                <span asp-validation-for="ProfessionalEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalSpecialty" class="control-label"></label>
                <input asp-for="ProfessionalSpecialty" class="form-control" />
                <span asp-validation-for="ProfessionalSpecialty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalExpYears" class="control-label"></label>
                <input asp-for="ProfessionalExpYears" class="form-control" />
                <span asp-validation-for="ProfessionalExpYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClinicID" class="control-label"></label>
                <input asp-for="ClinicID" class="form-control" />
                <span asp-validation-for="ClinicID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamID" class="control-label"></label>
                <input asp-for="TeamID" class="form-control" />
                <span asp-validation-for="TeamID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
